<body style="display: flex;align-items: center;justify-content: center;text-align: center;flex-direction: column;">
<h1>Vítejte, děkujeme že se účastníte průzkumu pro naši novou restauraci.<br></h1>
{control startForm}
</body>